@model DevIO.App.ViewModels.ProductViewModel

@{
    ViewData["Title"] = "Edit " + Model.Name;
}

<h4 style="padding-top: 30px;">@ViewData["Title"]</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <form enctype="multipart/form-data" asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="SupplierId" class="control-label"></label><br />
                <label><b>@Model.Supplier.Name</b></label>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea cols="40" rows="5" asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Current Image</label><br />
                <img
                     src="~/product-images/@Model.Image"
                     alt="@Model.Image"
                     style="width: 70px; height: 100px;"
                />
            </div>
            <div class="form-group">
                <label asp-for="UploadImage" class="control-label"></label>
                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="UploadImage" asp-for="UploadImage" />
                    <label data-browse="Search" style="width: 400px;" class="custom-file-label" for="UploadImage"></label>
                    <label style="display: none;" id="UploadImage"></label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Active" /> @Html.DisplayNameFor(model => model.Active)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
                <a class="btn btn-info" href="javascript:window.history.back();">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        $('#UploadImage').change(function () {
            $('#UploadImage').text(this.files[0].name);
            $('#UploadImage')[0].style.display = 'block';
        });
    </script>
}
